
<button class="float-end px-5 py-1  mr-5 bg-blue-500 rounded-md font-bold"
        (click)="openModal()">+</button>

<div *ngIf="showModal" class="w-full flex flex-col justify-center items-center z-50 ">
  <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 z-20 lg:w-[500px] ">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="email"
             name="email"
             type="text"
             placeholder="Email Adresse"
             [(ngModel)]="email"
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
             id="username"
             name="username"
             type="text"
             placeholder="username"
             [(ngModel)]="username"
      >
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-outline"
             name="password"
             id="password"
             type="password"
             placeholder="******************"
            [(ngModel)]="password"
      >
    </div>
    <div class="mb-4">
        <input type="radio" value="CLIENT" name="role" [(ngModel)]="role"><span>Client</span> &nbsp;
        <input type="radio" value="TECHNICIEN" name="role" [(ngModel)]="role"><span>Technicien</span>
    </div>
    <p *ngIf="error" class=" text-red-500 font-medium ">{{error}}</p>
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
              (click)="RegisterUser()"
      >
        Submit
      </button>

    </div>
  </form>
</div>
