<form class="flex flex-col gap-4 w-[600px] h-[500px] p-5" (ngSubmit)="SendDemand()">
  <p class="text-center text-lg font-semibold">Request Report Form</p>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="driver">
      Driver
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="driver"
           id="driver"
           type="text"
           placeholder="Driver"
           [(ngModel)]="driver"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="host">
      Host
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="host"
           id="host"
           type="text"
           placeholder="Host"
           [(ngModel)]="host"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Username
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="username"
           id="username"
           type="text"
           placeholder="Username"
           [(ngModel)]="username"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
      Password
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="password"
           id="password"
           type="password"
           placeholder="******************"
           [(ngModel)]="password"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="DB">
      Database
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="DB"
           id="DB"
           type="text"
           placeholder="Database"
           [(ngModel)]="DB"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="table">
      Table
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="table"
           id="table"
           type="text"
           placeholder="Table"
           [(ngModel)]="table"
    >
  </div>
  <div class="mb-2">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
      Email Technician
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           name="email"
           id="email"
           type="email"
           placeholder="Email"
           [(ngModel)]="email"
    >
  </div>
  <p *ngIf="msg" class="text-green-600 font-medium ">{{msg}}</p>
  <p>Columns : </p>
  <div class="flex ">
    <input type="text"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    [(ngModel)]="column1"
    name="column1"
    >
    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    [(ngModel)]="column2"
    name="column2"
    >
    <input type="text"
    [(ngModel)]="column3"
    name="column3"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

  </div>
  <button type="submit" class="w-full bg-sky-600 py-2 text-white rounded-md">
    Submit
  </button>
</form>
