<div class="flex h-screen w-screen">
  <div class="lg:w-3/4 md:w-2/4 text-center bg-sky-200 relative">

    <app-publish-form *ngIf="showPublishForm" class="absolute top-32 right-56 z-50"></app-publish-form>
    <app-generate-report *ngIf="showGenerateReport" class="absolute top-32 right-56 z-50"></app-generate-report>

  </div>
  <div class="lg:w-1/4 md:w-2/4 text-center bg-red-200 flex flex-col justify-center items-center gap-3">
    <a [routerLink]="['/techniciens']" [queryParams]="{ demandes: true }" class="bg-green-700 text-white py-3 px-5 w-[200px] rounded-md">
      Demandes de rapport
    </a>
        <button class="bg-gray-500 text-white py-3 px-5 w-[200px] rounded-md"
      (click)="setshowGenerateReport()"
      >Create report</button>
      <button class="bg-sky-600 text-white py-3 px-5 w-[200px] rounded-md"
      (click)="setshowPublishForm()"
      >+ Publish a Report</button>

  </div>
</div>
