<div class="bg-black bg-opacity-90 w-full justify-center flex flex-col items-center h-screen">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="email"
               name="email"
               type="text"
               placeholder="Email Adresse"
               [(ngModel)]="email"
        >
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border  rounded w-full py-2 px-3 text-gray-700  leading-tight focus:outline-none focus:shadow-outline"
               name="password"
               id="password"
               type="password"
               placeholder="******************"
               [(ngModel)]="password"
        >
      </div>
      <p *ngIf="error" class=" text-red-500 font-medium ">{{error}}</p>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit"
                (click)="LogUser()"
        >
          Sign In
        </button>

      </div>
    </form>

  </div>

</div>
